<section id="carrusel-principal">
    <div class="car-initial">
        <div class="diapo">
            <img src="/images/Carousel/carousel1.jpg" alt="" />
        </div>
        <div class="diapo">
            <img src="/images/Carousel/carousel2.jpg" alt="" />
        </div>
        <div class="diapo">
            <a target="_blank" href="https://youtu.be/V7GI2ko11VE">
                <img src="/images/Carousel/carousel3.jpg" alt="" />
            </a>
        </div>
        <div class="diapo">
            <img src="/images/Carousel/carousel4.jpg" alt="" />
        </div>
        <div class="diapo">
            <img src="/images/Carousel/carousel5.jpg" alt="" />
        </div>
    </div>
</section>