<section id="partners">
    <h1>CONFÍAN EN NOSOTROS</h1>
    <span class="linea"></span>
    <div class="partner-carousel">
        <div><img class="img-fluid" src="/images/partners/0.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/1.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/2.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/3.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/4.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/5.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/6.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/7.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/8.png" alt="" /></div>
        <div><img class="img-fluid" src="/images/partners/9.png" alt="" /></div>
        <div>
            <img class="img-fluid" src="/images/partners/10.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/11.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/12.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/13.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/14.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/15.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/16.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/17.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/18.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/19.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/20.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/21.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/22.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/23.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/24.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/25.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/26.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/27.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/28.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/29.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/30.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/31.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/32.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/33.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/34.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/35.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/36.png" alt="" />
        </div>
        <div>
            <img class="img-fluid" src="/images/partners/37.png" alt="" />
        </div>
    </div>
</section>