<nav class="navbar navbar-light bg-light" id="sidebar-sticky">
    <a class="py-3" href="#contact"><i class="fas fa-user fa-2x"></i></a>
    <a class="py-3" target="_blank"
        href="https://wa.me/5491160175615?text=Estoy%20interesado%20en%20recibir%20atencion%20personalizada"><i
            class="fab fa-whatsapp fa-2x"></i></a>
    <a class="py-3" href="mailto:info@quintino.com.ar"><i class="fas fa-envelope fa-2x"></i></a>
    <!-- <a class="py-3" href="" data-toggle="modal" data-target=".search-modal-lg"><i class="fas fa-search fa-2x"></i></a> -->
</nav>
<div class="d-none" id="wzp">
    <a target="_blank"
        href="https://wa.me/5491160175615?text=Estoy%20interesado%20en%20recibir%20atencion%20personalizada"><i
            class="fab fa-whatsapp wzp-float"></i></a>
</div>