<section id="downloads">
    <div class="row py-2">
        <div class="col-sm-6 pb-3" id="brochures">
            <img class="note" src="/images/note2.png" alt="imagen-decorativa" />
            <h1 class="py-3 descargas-title">DESCARGAS</h1>
            <h1 class="py-3 d-none soluciones-title">SOLUCIONES</h1>
            <div class="folletos">
                <ul id="slider">
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNews1"><img
                                src="/images/Folletos/img-folleto-1-esp.png" alt="" /></a>
                    </li>
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNews2"><img
                                src="/images/Folletos/img-folleto-2-esp.png" alt="" /></a>
                    </li>
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNews3"><img
                                src="/images/Folletos/img-folleto-3-esp.png" alt="" /></a>
                    </li>
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNewsEng1"><img
                                src="/images/Folletos/img-folleto-1-eng.png" alt="" /></a>
                    </li>
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNewsEng2"><img
                                src="/images/Folletos/img-folleto-2-eng.png" alt="" /></a>
                    </li>
                    <li class="slide-item">
                        <a href="#" data-toggle="modal" data-target="#ModalNewsEng3"><img
                                src="/images/Folletos/img-folleto-3-eng.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img-downloads col-sm-6">
            <img src="/images/work.png" alt="foto-work" />
        </div>
    </div>
</section>