<section id="landing" style="background-image: Url(/images/Header/fondo.jpg)">
    <div class="h-100" id="carousel-intro">
        <div class="jumbotron jumbotron-fluid bg-transparent mb-0" id="jumbotron">
            <div class="container">
                <h1 class="display-5 d-inline-block">
                    BIENVENIDOS A LA<br /><span style="letter-spacing: 2px; font-size: 116px">INTRALOGISTICA</span>
                </h1>
                <h1 class="display-1 d-inline-block pl-3">4.0</h1>
            </div>
        </div>
    </div>
</section>