<!-- ++ Modal de Busqueda ++ -->
<div class="modal fade search-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <div class="input-group">
                <input type="text" class="form-control pl-4" id="BuscarWeb" placeholder="Buscar en la web">
                <div class="input-group-append">
                    <button class="btn px-3 btn-outline-secondary" onclick="BuscarSoluciones1()" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>