<header id="header">
    <div id="contact-intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-3 mr-auto pl-0">
                    <a href="/">
                        <img src="/images/Header/logo.png" alt="Image" class="img-fluid" />
                    </a>
                </div>
                <div class="col-lg-2 d-none d-lg-block pl-0">
                    <div class="quick-contact-icons d-flex">
                        <div class="icon align-self-start">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="text-contact">
                            <span class="d-block">LLAMANOS</span>
                            <a href="tel:+54.11.7724.1571" class="text-contact">+54.11.7724.1571</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block pl-0">
                    <div class="quick-contact-icons d-flex">
                        <div class="icon align-self-start">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="text-contact">
                            <span class="d-block">EMAIL</span>
                            <a href="mailto:info@quintino.com.ar" class="text-contact">info@quintino.com.ar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block px-0 mr-n6">
                    <div class="quick-contact-icons d-flex">
                        <div class="icon align-self-start">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="text-contact">
                            <span class="d-block">HORARIO</span>
                            <span class="caption-text">Lunes a Viernes de 8 a 17hs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar py-2 navbar-expand-lg navbar-light bg-light container sticky-top" id="nav-sticky">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-fixed"
        aria-controls="navbar-fixed" aria-expanded="false" aria-label="Toggle navigation">
        <span><img class="w-25" src="/images/logo-gris.png" /></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-fixed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#noticias">Novedades <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#services">Servicios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#collapsive">Soluciones <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#projects">Referencias <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#quienes">Quienes Somos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#contact">Contacto <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="nav-right">
            <a class="px-2" href="" data-toggle="modal" data-target=".search-modal-lg"><i
                    class="fas fa-search fa-2x"></i></a>
            <a class="px-2" target="_blank" href="https://twitter.com/QuintinoMHS"><i
                    class="fab fa-twitter fa-2x"></i></a>
            <a class="px-2" target="_blank" href="https://www.linkedin.com/company/quintino/?viewAsMember=true"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a class="px-2" target="_blank"
                href="https://www.youtube.com/channel/UCM-yKuJZqzeQEieSDEN6Ymg?view_as=subscriber"><i
                    class="fab fa-youtube fa-2x"></i></a>
            <a class="px-2" target="_blank"
                href="https://open.spotify.com/show/0Ayu7EGgVWRm7BNTJ8LoiS?si=411a5aa547cd4ec6"><i
                    class="fab fa-spotify fa-2x"></i></a>
        </div>
    </div>
</nav>