<section id="socios">
    <div class="quintino-partners">
        <h1 class="pb-3 text-center">NUESTROS PARTNERS</h1>
        <a target="_blank" href="https://youtu.be/zzOAkusQVfI"><img style="height: auto; width: 15vw"
                alt="logo-cassioli" src="/images/partners/partner-1.png" /></a>
        <a id="interroll-logo" target="_blank" href="https://youtu.be/SPl9kYFdIsE"><img
                style="height: auto; width: 15vw" src="/images/partners/partner-2.jpg" /></a>
        <a target="_blank" href="https://youtu.be/CjOyI70u68Y"><img style="margin-top: 16px; height: auto; width: 15vw"
                src="/images/partners/partner-3.png" /></a>
        <a target="_blank" href="https://youtu.be/CjOyI70u68Y"><img style="margin-top: 16px; height: auto; width: 25vw"
                src="/images/partners/partner-3-1.png" /></a>
        <br />
        <a class="d-block text-center pb-3" data-toggle="collapse" href="#all-partners" role="button"
            aria-expanded="false" aria-controls="all-partners" id="show-socios" style="text-decoration: underline"
            onclick="hideclientebtn()">
            Ver todos
        </a>
        <div class="collapse" id="all-partners">
            <div class="text-center">
                <a target="_blank" href="https://youtu.be/3A-fQ4aLUGA"><img hidden style="height: auto; width: 15vw"
                        src="/images/partners/partner-4.jpg" /></a>
                <a target="_blank" href="https://youtu.be/xXuE4LzOb7I"><img style="height: auto; width: 15vw"
                        src="/images/partners/partner-5.png" /></a>
            </div>
        </div>
    </div>
</section>