<section id="services">
    <div class="row py-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3" id="servicios">
            <h1 class="py-4">SERVICIOS</h1>
            <p>
                Asesoramiento personalizado, siempre. Acompañamiento y trabajo
                conjunto en cada etapa del Ciclo de Vida de los Proyectos.<br />
                En Quintino Material Handling Solutions brindamos servicio de
                Asesoramiento Personalizado en todas las etapas de su proyecto,
                desde el principio al final, considerando este punto de vital
                importancia para poder alcanzar las expectativas y previsiones de
                cada alternativa técnica para su proyecto.
            </p>
            <a target="_blank" href="/Home/Services">Más info...</a>
        </div>
        <div class="carruserv col-sm-12 col-md-6 col-lg-6 col-xl-9 card-group">
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos10.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Análisis y Desarrollo</h5>
                        <p class="card-text">
                            Dedicarle el tiempo y los recursos necesarios a la etapa de
                            análisis primero, nos ahorrara muchos problemas a futuro.<br />
                            Además de la información brindada por el cliente, El análisis
                            también comprende la evaluación en equipo con el cliente de
                            las alternativas que mejor se ajusten a sus recursos,
                            escenarios, espacio disponible, etc.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/1">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos9.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Diseño y Fabricación</h5>
                        <p class="card-text">
                            Contamos con un departamento completo de ingeniería que se
                            encarga de llevar los desarrollos a la realidad, cuidando la
                            calidad y los tiempos planificados al detalle.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/2">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos11.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Instalación + Implementación</h5>
                        <p class="card-text">
                            En Quintino Material Handling Solutions contamos con grupo
                            propio y fijo de asistencia para instalaciones, y puesta en
                            marcha, con especialistas en cada área, ya sea mecánico,
                            electrónica o robótica dando respuesta rápida y eficiente ante
                            eventualidades.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/3">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos8.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Cycle Life Project</h5>
                        <p class="card-text">
                            Contamos con Asistencia + Soporte técnico, en diferentes
                            formatos e intensidades para adecuarnos a la necesidad
                            especial de cada equipamiento y su operación, tanto en
                            soporte, como en Mantenimiento.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/4">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos5.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Modernización</h5>
                        <p class="card-text">
                            Los habitos de consumo han modificado todos los parámetros a
                            los que el mercado Global, Latinoamericano y obviamente el
                            Argentino, estaba acostumbrado.<br />
                            Estas nuevas tendencias nos generan el desafío de acompañar a
                            nuestros clientes en el camino a la transformación orientada a
                            la cuarta revolucion industrial, donde maquinas y personas
                            trabajan juntas y se complementan generando plantas y
                            almacenes altamente eficientes.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/5">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos2.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Capacitación</h5>
                        <p class="card-text">
                            Capacitación Directa y a terceros para el buen uso y mejores
                            practicas, ante sistemas que son operados por muchos actores,
                            asegurándonos la durabilidad y buen funcionamiento de cada
                            instalación realizada.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/6">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos6.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Tech Tours</h5>
                        <p class="card-text">
                            Cuando por necesidades específicas, como por ejemplo ver
                            determinado automatismo en funcionamiento, y evaluar
                            tecnologias incluso dentro o fuera de nuestro país,
                            organizamos visitas técnicas donde los clientes pueden conocer
                            y dimensionar, el nivel de tecnología implementado, de
                            cualquiera de nuestros partners.<br />
                            Queres saber mas sobre este servicio, contanos que necesitas y
                            te mostramos las opciones.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/7">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos4.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Consultoría y Asesoramiento</h5>
                        <p class="card-text">
                            Asesoramos y colaboramos con el cliente a la hora de
                            seleccionar y definir la solución mas indicada para su
                            necesidad o problemática intralogistica, y para el armado de
                            planes de trabajo y auditorias, licitaciones, etc.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/8">Más info...</a></small>
                    </div>
                </div>
            </div>
            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos3.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Service y Repuestos</h5>
                        <p class="card-text">
                            Service Oficial Interroll:
                            <img class="icon-s my-1" src="/images/partners/partner-2.jpg" alt="" />
                            Contamos con un equipo propio y multidisciplinario, experto y
                            constantemente capacitados para adoptar nuevas tecnologías
                            preparados para brindar Asistencia + Soporte técnico, Medición
                            + Análisis y Modernización y refuncionalización en la
                            Industria 4.0.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/9">Más info...</a></small>
                    </div>
                </div>
            </div>

            <div class="serv">
                <div class="card bg-light border-secondary" style="width: 20vw">
                    <img src="/images/servicios/iconos7.png" class="card-img-top img-fluid icon-s" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento Preventivo</h5>
                        <p class="card-text">
                            Contamos con un Equipo propio y multidisciplinario, experto y
                            constantemente capacitados para adoptar nuevas tecnologías
                            preparados para brindar Asistencia + Soporte técnico
                            programado desde: <br />Soporte Remoto + Mesa de ayuda. <br />
                            Mantenimiento Residente. <br />
                            Mantenimiento Periódico.
                        </p>
                        <small class="text-muted"><a href="/Home/Services/10">Más info...</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>