<section id="quienes">
    <div class="row">
        <div class="col-sm-6 p-0" id="img-quienes">
            <div class="car-quienes pt-3 pl-2 pr-5">
                <div><img class="img-fluid" src="/images/somos.jpg" alt="" /></div>
                <div><img class="img-fluid" src="/images/somos2.jpg" alt="" /></div>
            </div>
        </div>
        <div class="col-sm-6 px-5">
            <h1 class="pb-3">QUIENES SOMOS</h1>
            <p class="text-justify">
                Somos una compañía de origen Argentino, con 25 años de experiencia
                en el mercado De Automatizacion de Movimiento, Manipulacion y
                Transporte de Materiales y Cargas, lo que hoy llamamos LogÍstica
                Interna o INTRALOGISTICA. Desarrollamos sistemas a Medida del foco
                del negocio de nuestros clientes. Contamos con Referencias de primer
                nivel en todo tipo de industrias como Alimentacion, Bebidas,
                Laboratorios, Bienes de Consumos, Aeropuertos y Desarrollos
                especiales. En consecuencia nuestros partners también son de primer
                nivel, y poseemos licencias exclusivas, somos únicos miembros del
                país en Programas de Elit por servicio y calidad y representamos
                exclusivamente su marca en el país. Nuestras relaciones
                profesionales son a largo plazo con todos nuestros clientes,
                marcando la diferencia que nos caracteriza: Atencion y Asesoramiento
                personalizado, siempre.
            </p>
        </div>
    </div>
</section>