<nav class="navbar navbar-dark bg-dark" style="display: block;position:fixed; width:100vw;height: 70px; z-index:300">
    <div class="container">
        <a class="navbar-brand" href="#">
        </a>
    </div>
</nav>